body{
  background-color: rgb(7, 7, 7);
  color: blueviolet;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}


  h1{
    color: brown;
  }
  
  h3{
    color: aqua;
  }
  
  main {
    margin-bottom: 100px; /* Igual a la altura del footer */
    margin-bottom: 5px; /* Crea espacio para el footer */

  }


  footer {
    position: sticky;
    top: calc(100vh - 5px); /* Ajusta la posición vertical */
    margin-top: 10%; /* Crea espacio desde el main */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(230, 230, 232, 0.888);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .footer p {
    color: black; /* Cambiar el color del texto a negro */
  }
  

  .logo {
    max-width: 50%;
    height: auto;
    object-fit: contain; /* Ajusta a contain, cover o fill */
  }




/* Estilo para NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(6, 6, 10);
  align-content: center;

}


nav.navbar ul.navbar-nav li.nav-item a.nav-link {
  color: white; /* Color del texto blanco */
}


/* Estilo hover para los elementos de navegación */
nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
  color: rgba(211, 77, 156, 0.819) !important; /* Cambia el color del texto al pasar el mouse */
}



.navbar-light .navbar-toggler-icon {
  background-image: url("./img/menu.svg"); /* URL del archivo SVG */
  filter: invert(100%); /* Invertir los colores del icono */
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: 0 0 0 1px rgba(249, 248, 248, 0.152); /* Borde blanco al presionar el botón */
}



/* Estilo para pantallas más pequeñas */
@media (max-width: 768px) {
  .logo {
    max-height: 90px; /* Ajusta la altura máxima del logo para pantallas grandes */
    width: auto; /* Ajusta el ancho automáticamente para mantener la proporción */
  }

  nav ul {
    display: block; /* Cambiar a bloque para que los elementos estén uno debajo del otro */
    text-align: center; /* Centrar el contenido de la lista */
  }

  nav ul li {
    display: block; /* Cambiar a bloque para que los elementos estén uno debajo del otro */
    margin-bottom: 10px; /* Agregar espacio entre elementos apilados */
  }
}

/* Estilo para pantallas grandes */
@media (min-width: 992px) {
  nav {
    height: 100px; /* Ajusta la altura del navbar para pantallas grandes */
  }





  
  .logo {
    max-height: 150px; /* Ajusta la altura máxima del logo para pantallas grandes */
    width: auto; /* Ajusta el ancho automáticamente para mantener la proporción */
  }
}






.carrusel-top{
  width: 100%;
  margin: 0 auto; /* Centra la sección horizontalmente */
}

.carousel-item img {
  object-fit: cover;
}


/* Contenedores */

.contenedor-titulo {
  margin-top: 3%;
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  text-align: center;
}

.formaLuna {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  box-shadow: 15px 15px 0 0 rgba(239, 239, 239, 0.953);
  margin-right: 30px; /* Añadir margen a la derecha para separar del título */
  margin-bottom: 3%;
 
}

.titulo-top {
  margin-top: 1%;
  color: rgb(247, 86, 158);
}

.abajo{
  filter: invert(100%); /* Invertir los colores del icono */

}

.abajo:hover {
  opacity: 0.8; /* Reducir la opacidad al pasar el mouse */
  background-color: rgba(255, 255, 255, 0.622); /* Agregar un color de fondo con transparencia */
  transform: scale(1.1); /* Aumentar el tamaño al pasar el mouse */
  box-shadow: 0 0 20px rgba(255, 253, 253, 0.621); /* Agregar sombra al pasar el mouse */
}


/* Card */

.container-carrusel{
margin: 2%;
}

.card {
  transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
  width: 85%; /* Ancho personalizado para las tarjetas */
  margin: auto; /* Centra las tarjetas horizontalmente */
}

.card:hover {
  box-shadow: 0 0 20px rgba(255, 253, 253, 0.763); /* Agregar sombra al tocar la tarjeta */
}


@media (max-width: 767.98px) {
  .row {
    flex-direction: column;
  }

  .col {
    margin-bottom: 20px; /* Agrega espacio entre las columnas */
  }
}

.separador {
  border-top: 1px dashed rgba(247, 86, 158, 0.255); /* Línea delineada */
  max-width: 30%;
  margin-top: 5%;
  margin-left: auto; /* Situar en el centro horizontal */
  margin-right: auto; /* Situar en el centro horizontal */

}

.separador:hover {
  box-shadow: 0 0 20px rgba(255, 253, 253, 0.763); /* Agregar sombra al tocar la tarjeta */
}
