body{
  background-color: rgb(255, 249, 251);
  color: blueviolet;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

  h1{
    color: brown;
  }
  
  h3{
    color: aqua;
  }
  
  main {
    margin-bottom: 100px; /* Igual a la altura del footer */
    margin-bottom: 5px; /* Crea espacio para el footer */
  }


  footer {
    position: sticky;
    top: calc(100vh - 5px); /* Ajusta la posición vertical */
    margin-top: 10%; /* Crea espacio desde el main */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(25, 25, 25, 0.955);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .footer p {
    color: rgb(213, 212, 212); /* Cambiar el color del texto a negro */
  }
  

  .logo {
    max-width: 50%;
    height: auto;
    object-fit: contain; /* Ajusta a contain, cover o fill */
  }


/* Estilo para NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(12, 12, 16);
  align-content: center;
}

nav.navbar ul.navbar-nav li.nav-item a.nav-link {
  color: white; /* Color del texto blanco */
  margin: 10px;
}

/* Estilo hover para los elementos de navegación */
nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
  color: rgba(247, 86, 158, 0.819); /* Cambia el color del texto al pasar el mouse */
  border: 2px dashed rgba(247, 86, 158, 0.819); /* Borde punteado rosa con opacidad */
  border-radius: 50px; /* Radio de las esquinas */

}

.navbar-light .navbar-toggler-icon {
  background-image: url("./img/menu.svg"); /* URL del archivo SVG */
  filter: invert(100%); /* Invertir los colores del icono */
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: 0 0 0 1px rgba(249, 248, 248, 0.152); /* Borde blanco al presionar el botón */
}

/* Estilo para pantallas más pequeñas */
@media (max-width: 992px) {
  .logo {
    max-height: 150px; /* Ajusta la altura máxima del logo para pantallas grandes */
    width: auto; /* Ajusta el ancho automáticamente para mantener la proporción */
  }

  nav ul {
    display: block; /* Cambiar a bloque para que los elementos estén uno debajo del otro */
    text-align: center; /* Centrar el contenido de la lista */
  }

  nav ul li {
    display: block; /* Cambiar a bloque para que los elementos estén uno debajo del otro */
    margin-bottom: 10px; /* Agregar espacio entre elementos apilados */
  }
}


.carrusel-top{
  width: 100%;
  margin: 0 auto; /* Centra la sección horizontalmente */
}

.carousel-item img {
  object-fit: cover;
}


/* Contenedores */

.contenedor-titulo {
  margin-top: 3%;
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  text-align: center;
}


.titulo-top {
  margin-top: 1%;
  color: rgb(247, 86, 158);
}

.abajo{
  margin: 2%;
}

.abajo:hover {
  opacity: 0.8; /* Reducir la opacidad al pasar el mouse */
  background-color: rgba(208, 204, 204, 0.153); /* Agregar un color de fondo con transparencia */
  transform: scale(1.1); /* Aumentar el tamaño al pasar el mouse */
  box-shadow: 0 0 20px rgba(246, 164, 220, 0.621); /* Agregar sombra al pasar el mouse */
}


/* Card */

.container-carrusel{
margin: 2%;
}

.card {
  transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
  width: 85%; /* Ancho personalizado para las tarjetas */
  margin: auto; /* Centra las tarjetas horizontalmente */
}

.card:hover {
  box-shadow: 0 0 20px rgba(249, 110, 177, 0.763); /* Agregar sombra al tocar la tarjeta */
}


@media (max-width: 767.98px) {
  .row {
    flex-direction: column;
  }

  .col {
    margin-bottom: 20px; /* Agrega espacio entre las columnas */
  }
}

.separador {
  border-top: 1px dashed rgba(247, 86, 158, 0.255); /* Línea delineada */
  max-width: 30%;
  margin-top: 5%;
  margin-left: auto; /* Situar en el centro horizontal */
  margin-right: auto; /* Situar en el centro horizontal */

}

.separador:hover {
  box-shadow: 0 0 20px rgba(255, 253, 253, 0.763); /* Agregar sombra al tocar la tarjeta */
}


/* Contenedor */



.contenedor-color {
  margin-top: 5%;
  background-color: rgb(230, 229, 230);
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Relación de aspecto 16:9 */
}

.contenedor-color iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}