nav {
  background-image: linear-gradient(
    to right,
    #380235,
    #000000
  ); /* Degradado de colores */
}

nav.navbar ul.navbar-nav li.nav-item a.nav-link {
  color: white; /* Color del texto blanco */
  margin: 10px;
}

/* Estilo base para los elementos de navegación */
nav.navbar ul.navbar-nav li.nav-item a.nav-link {
  transition: color 0.3s ease; /* Agrega una transición suave al color del texto */

  border-bottom: 2px solid transparent; /* Establece un borde transparente inicialmente */
  padding-bottom: 10px; /* Añade espacio para la línea punteada */
  display: inline-block; /* Asegura que el elemento se muestre en línea */
}

/* Estilo hover para los elementos de navegación */
nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
  color: rgba(206, 117, 228, 0.819); /* Cambia el color del texto */
  border-bottom: 2px solid rgba(157, 4, 171, 0.819); /* Cambia el borde a punteado al pasar el mouse */
  transform: translateY(2px) rotate(3deg); /* Rota el enlace al pasar el mouse */
}

.navbar a {
  color: white; /* Cambia el color del texto a blanco */
}

.navbar-light .navbar-toggler-icon {
  filter: invert(100%); /* Invertir los colores del icono */
}

.card-img-top {
  width: 300px;
  height: 300px;
  object-fit: cover; /* Esto asegura que la imagen se ajuste dentro del tamaño fijo sin distorsionarla */
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: 0 0 0 1px rgba(249, 248, 248, 0.152); /* Borde blanco al presionar el botón */
}

/* Estilo para pantallas más pequeñas */
@media (max-width: 992px) {
  .logo {
    max-height: 150px; /* Ajusta la altura máxima del logo para pantallas grandes */
    width: auto; /* Ajusta el ancho automáticamente para mantener la proporción */
  }

  nav ul {
    display: block; /* Cambiar a bloque para que los elementos estén uno debajo del otro */
    text-align: center; /* Centrar el contenido de la lista */
  }

  nav ul li {
    display: block; /* Cambiar a bloque para que los elementos estén uno debajo del otro */
    margin-bottom: 10px; /* Agregar espacio entre elementos apilados */
  }
}

/* CARRUSEL */

.carrusel-top {
  width: 100%;
  margin: 0 auto; /* Centra la sección horizontalmente */
}

.carousel-item {
  position: relative; /* Permite posicionar el texto de forma absoluta */
}

.carrusel-nuevo {
  width: 100%;
  margin: -3rem auto 0; /* Ajusta el margen superior */
  overflow: hidden;
  position: relative;
  height: auto;
}

.carrusel-nuevo ul {
  display: flex;
  padding: 0;
  width: 300%;
  animation: animacionC 10s infinite alternate ease-in-out;
}
.carrusel-nuevo li {
  width: 33.33%; /* Ajusta el ancho de cada imagen según el número de imágenes */
  list-style: none;
  position: relative;
}

.texto-carrousel {
  position: absolute;
  text-align: center;
  padding: 20px;
  bottom: 20px; /* Ajusta la posición vertical del texto */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%; /* Ajusta el ancho del contenedor de texto */
  border-radius: 5px;
}

.texto-carrousel h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.carrusel-nuevo img {
  width: 100%;
  height: auto; /* Para mantener la proporción */
}

@keyframes animacionC {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 0;
  }
  30% {
    margin-left: -100%;
  }
  55% {
    margin-left: -100%;
  }
  60% {
    margin-left: -200%;
  }
  85% {
    margin-left: -200%;
  }
  90% {
    margin-left: -100%;
  }
  100% {
    margin-left: -100%;
  }
}
@media screen and (max-width: 768px) {
  .texto-carrousel {
    padding: 5px; /* Ajusta el padding para pantallas más pequeñas */
  }
  .texto-carrousel h2 {
    font-size: 6px; /* Ajusta el tamaño del texto para pantallas más pequeñas */
  }
  .texto-carrousel p {
    font-size: 7px; /* Ajusta el tamaño del texto para pantallas más pequeñas */
  }
}

/* Contenedores */

.contenedor-titulo {
  margin-top: 3%;
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  text-align: center;
}

.titulo-top {
  margin-top: 1%;
  font-size: 36px;
  font-family: "Times New Roman", Times, serif;
  color: #540150;
}

.abajo {
  margin: 2%;
}

.abajo:hover {
  opacity: 0.8; /* Reducir la opacidad al pasar el mouse */
  background-color: rgba(
    208,
    204,
    204,
    0.153
  ); /* Agregar un color de fondo con transparencia */
  transform: scale(1.1); /* Aumentar el tamaño al pasar el mouse */
  box-shadow: 0 0 20px rgba(246, 164, 220, 0.621); /* Agregar sombra al pasar el mouse */
}

/* Card */

.container-carrusel {
  margin: 2%;
}

.card {
  transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
  width: 85%; /* Ancho personalizado para las tarjetas */
  margin: auto; /* Centra las tarjetas horizontalmente */
  padding-bottom: 3%;
}

.card:hover {
  box-shadow: 0 0 10px rgba(104, 0, 116, 0.763); /* Agregar sombra al tocar la tarjeta */
}

@media (max-width: 767.98px) {
  .row {
    flex-direction: column;
  }

  .col {
    margin-bottom: 20px; /* Agrega espacio entre las columnas */
  }
}

.separador {
  border-top: 1px dashed rgba(74, 8, 77, 0.255); /* Línea delineada */
  max-width: 30%;
  margin-top: 5%;
  margin-left: auto; /* Situar en el centro horizontal */
  margin-right: auto; /* Situar en el centro horizontal */
}

.separador:hover {
  box-shadow: 0 0 20px rgba(255, 253, 253, 0.763); /* Agregar sombra al tocar la tarjeta */
}

/* Contenedor */

.contenedor-color {
  margin-top: -3%;
  background-color: rgb(230, 229, 230);
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Relación de aspecto 16:9 */
}

.contenedor-color iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contenedorBasico {
  background-color: #e2ccdc4c; /* Cambia el color de fondo del jumbotron */
  padding: 3%;
  border-radius: 10px;
}

/* Estilo del contenedor básico */
.contenedorBasico {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  text-align: center; /* Alinea el texto al centro */
  margin: 5%;
  padding: 2%;
}

/* Estilo del título */
.contenedorBasico h1 {
  margin-bottom: 10px; /* Ajusta el margen inferior del título y del párrafo */
  color: #380235;
}

/* Estilo del contenedor del botón */
.contenedor-boton {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
}

/* Estilo del botón */
.boton-empezar {
  background-color: #6814524c; /* Cambia el color de fondo del botón */
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
  border-radius: 10px; /* Añade bordes redondeados */
  color: white; /* Cambia el color del texto */
  text-decoration: none; /* Quita la subrayado del texto */

}

.boton-empezar:hover {
  background-color: #66656585; /* Cambia el color de fondo del botón */
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
  border-radius: 10px; /* Añade bordes redondeados */
  color: white; /* Cambia el color del texto */
  text-decoration: none; /* Quita la subrayado del texto */
}


/* Boton del formulario */
.boton-formulario {
  background-color: #6814524c; /* Cambia el color de fondo del botón */
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
  border-radius: 10px; /* Añade bordes redondeados */
  color: white; /* Cambia el color del texto */
  text-decoration: none; /* Quita la subrayado del texto */

}

.boton-formulario:hover {
  background-color: #66656585; /* Cambia el color de fondo del botón */
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
  border-radius: 10px; /* Añade bordes redondeados */
  color: white; /* Cambia el color del texto */
  text-decoration: none; /* Quita la subrayado del texto */
}


/* Footer */

footer {
  position: sticky;
  top: calc(100vh - 5px); /* Ajusta la posición vertical */
  margin-top: 10%; /* Crea espacio desde el main */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(25, 25, 25, 0.955);
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.footer p {
  color: rgb(213, 212, 212); /* Cambiar el color del texto a negro */
}

